<link href="~/css/workout.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}

<div style="text-align:center">
    <h2>Administrator Page</h2>

    <a asp-controller="Administrator" asp-action="AddEmployee">Register New Employee</a>
</div>