<link href="~/css/workout.css" rel="stylesheet" />
@{
    ViewData["Title"] = "NotAuthorized";
}

<h2>Unauthorized Error</h2>

<p>Only system administrators are permitted to perform actions on this page. Click any other tab in the navigation bar (located at the top of the page) to exit.</p>

