<link href="~/css/workout.css" rel="stylesheet" />
@model Equipment

@{
    ViewData["Title"] = "Edit Profile";
}

<div id="center">
    <h2>Edit Equipment</h2>

    <form asp-controller="Gym" asp-action="EditEquip" method="post">

        <label asp-for="Name">Name: </label>
        <select asp-for="Name" asp-items="WebApplication.Web.Models.Equipment.EquipmentCategories"></select>
        <br /><br />
        <label asp-for="NeedsMaintenance">Maintenance required: </label>
        <input asp-for="NeedsMaintenance" type="checkbox" />
        <br /><br />
        <label asp-for="Instructions">Instructions: </label>
        <input asp-for="Instructions" type="text" />
        <br /><br />
        <input asp-for="EquipmentID" value="@Model.EquipmentID" hidden="hidden" />

        <input type="submit" value="Save" />
    </form>
    <form asp-controller="Gym" asp-action="RemoveEquipment" method="post">
        <input asp-for="EquipmentID" value="@Model.EquipmentID" hidden="hidden" />
        <input type="submit" value="Remove Equipment" />
    </form>
</div>