<link href="~/css/workout.css" rel="stylesheet" />
@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="center">
    <div class="welcome">
        <div style="margin-left:63%; margin-right:5%">
            <h2 style="margin-top:0px; padding-top:20px">Welcome to the Workout Tracker&trade;</h2>
            <h4>Register or log in to acheive your fitness dreams</h4>
            <p style="font-size:x-small">Indulge in the future capabilities of technology with us! With the Workout Tracker&trade;, you can keep track of your time at the gym, what equipment you used, and the amount you used that equipment. Along with that, you can create workout goals and track your progress with them! All of that and more in one innovative application...</p>
        </div>
    </div>
</div>
