@model User

<h2>Change User Password</h2>

<form asp-controller="Account" asp-action="ChangePass" method="post">
    <label asp-for="Password">New Password: </label>
    <input asp-for="Password" type="text" value="" />

    <input asp-for="Id" value="@Model.Id" hidden="hidden" />
    <input asp-for="Username" value="@Model.Username" hidden="hidden" />

    <input type="submit" value="Save" />
</form>